
form {
    padding: 0 20px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cadastro {
    padding: 50px 20px;
}

.text-muted {
    color: var(--light-color) !important;
    text-align: center;
}