header {
    background-color:var(--dark-bd-color);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.238);
    color: white;
}

.name-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-section p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.name-section fa-icon {
    font-size: 2rem;
    cursor: pointer;
}

.name-section fa-icon:hover {
    color: gainsboro;
}