<div class="login-wrapper">
    <form [formGroup]="form">
        <h1 class="fancy">Painel de Controle</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
        </div>
        <button (click)="login()"  class="btn btn-success">Entrar</button>
    </form>
</div>
