<div style="padding-top: 30px;" class="painel container">
    <div class="header">
        <h2 class="title">Painel de Controle</h2>
        <app-custom-button 
        [class]="'button btn btn-danger'"
        [texto]="'Sair'" (click)="logout()">
        </app-custom-button>
    </div>
    <hr>

    <div class="notificacao">
        <form action="">
            <label for="notificacao">Enviar notificação</label>
            <app-comment-box (comentarioEmitter)="notificar($event)"></app-comment-box>
        </form>
    </div>

    <hr>

    <div class="links">
        <h2>Links importantes</h2>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="title">Título</label>
                <input id="title" type="text" formControlName="titulo" class="form-control">
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input id="link" type="text" formControlName="link" class="form-control">
            </div>
            <app-custom-button 
            [class]="'button btn btn-primary'"
            [texto]="'Criar'" (click)="criarLink()">
        </app-custom-button>
        </form>
        <hr>

        <h2>Links</h2>
        <div *ngFor="let link of links" class="links-wrapper">
            <a  href="{{link.linkUrl}}">{{link.descricao}}</a>
            <button (click)="excluirLink(link.id)" class="excluir">X</button>
        </div>

    </div>
</div>