<div (dblclick)="openTarefa(false)" class="card">
    <div class="card-h row">
        <div class="col-10">
            <h3>{{ tarefa.titulo }}</h3>
        </div>
        <div class="col-2">
            <div [matTooltip]="'Criado por: ' +  tarefa.createdBy?.name" class="letter">{{ (tarefa.createdBy &&
                tarefa.createdBy.name) ? tarefa.createdBy.name.charAt(0) : '' }}</div>
        </div>
    </div>
    <p>{{ tarefa.descricao.length > 70 ? tarefa.descricao.slice(0, 70) + '...' : tarefa.descricao }} <strong
            *ngIf="tarefa.descricao.length > 70">veja mais</strong></p>
    <hr>
    <div class="data-action">
        <div class="date">
            <span *ngIf="tarefa.dataFinal" matTooltip="Data de Entrega">{{ tarefa.dataFinal| date : 'dd/MM/yyyy'
                }}</span>
        </div>
        <div class="actions">
            <fa-icon (click)="openTarefa(true)" [icon]="faMessage"></fa-icon>
            <fa-icon (click)="openTarefa(false)" [icon]="faEdit"></fa-icon>
        </div>
    </div>
</div>