<div (dblclick)="openTarefa(false)" class="card">
    <div class="card-h row">
        <div class="col-10">
            <h3>{{ tarefa.titulo }}</h3>
        </div>
        <div class="col-2">
            <button class="menu" mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="faEllipsis"></fa-icon></button>
            <mat-menu #menu="matMenu">
                <button class="btn-item" (click)="openTarefa(false)"  mat-menu-item>Abrir</button>
                <button class="btn-item" (click)="deletar()"  mat-menu-item>Excluir</button>
              </mat-menu>
        </div>
    </div>
    <p>{{ tarefa.descricao.length > 70 ? tarefa.descricao.slice(0, 70) + '...' : tarefa.descricao }} <strong (click)="openTarefa(false)"
            *ngIf="tarefa.descricao.length > 70">veja mais</strong></p>
    <hr>
    <div class="data-action">
        <div class="date">
            <span *ngIf="tarefa.dataFinal" matTooltip="Data de Entrega">{{ tarefa.dataFinal| date : 'dd/MM/yyyy'
                }}</span>
        </div>
        <div class="actions">
            <div [appContador]="tarefa.comentarios.length" class="icon-wrapper">
                <fa-icon (click)="openTarefa(true)"  [icon]="faMessage"></fa-icon>
            </div>
            <div class="icon-wrapper">
                <fa-icon (click)="openTarefa(false)" [icon]="faEdit"></fa-icon>
            </div>
        </div>
    </div>
</div>