.card {
    height: max-content;
    border-radius: 5px;
    background-color: var(--dark-bd-color);
    color: white;
    padding: 10px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
    color: rgb(165, 158, 158);
}

span {
    font-size: 12px;
    font-weight: bold;
    background-color: var(--error-color);
    padding: 2px 5px;
    border-radius: 2px;
}

.data-action {
    display: flex;
    justify-content: space-between;
}

.data-action fa-icon {
    cursor: pointer;
}

.date {
    display: flex;
    gap: 2px;
}

.letter-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.letter {
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
