<div class="comment-box">
    <textarea [(ngModel)]="comentario" placeholder="Comentar" name="" id=""></textarea>
    <div class="actions">
        <div class="tools">
        </div>
        <div class="action">
            <app-custom-button 
                [class]="'btn btn-danger'"
                [texto]="'Cancelar'"
                [processing]="processing"
                (click)="cancelar()">
            </app-custom-button>
            <app-custom-button 
                [class]="'button btn btn-primary'"
                [texto]="'Enviar'"
                [processing]="processing"
                (click)="comentar()">
            </app-custom-button>
        </div>
    </div>
</div>
