<div class="atividade">
    <div class="atividade-header">
        <strong>{{ atividade.responsavel }}</strong>
    </div>
    <div class="atividade-content">
        <p>Alterou a <strong class="task-title" (click)="abrirTarefa(atividade.tarefaId)">{{ atividade.tarefaTitulo }}</strong>  para <strong>{{ atividade.novaSituacaoTarefa | tarefaSituacao }}</strong>.</p>
    </div>
    <div class="atividade-footer">
        <p class="data">{{ atividade.dataAtividade | date:'MMM dd HH:mm a':'':'pt' }}<p></p>
    </div>
</div>
