<div class="projeto-container">

    <div class="projeto-container-nav">
        <ul class="nav">
            <li [ngClass]="viewSection == 0 ? 'selected-nav-item' : ''" class="nav-itens">
                <a (click)="viewSection = 0">Atividades</a>
            </li>
            <li class="nav-itens" [ngClass]="viewSection == 1 ? 'selected-nav-item' : ''">
                <a (click)="viewSection = 1">Board</a>
            </li>
            <li class="nav-itens">
                <fa-icon class="add-btn" (click)="openTarefaEdition()" matTooltip="Nova tarefa" [icon]="faPlus"></fa-icon>
            </li>
        </ul>
        <div class="projeto-info">
             {{ projeto.titulo }} <fa-icon class="user-icon" [icon]="faUser"></fa-icon>
        </div>
    </div>
    <hr>

    <app-tarefas-view [idProjeto]="projetoId" *ngIf="viewSection == 1"></app-tarefas-view>
    <!-- <app-atividades-view *ngIf="viewSection == 0"></app-atividades-view> -->
</div>

