.comentario {
    background-color: var(--light-dark-bd-color);
    border-radius: 5px;
    margin-bottom: 7px;
    color: rgb(216, 204, 204);
    padding: 10px !important;
    font-size: 13px;
    height: max-content !important;
}

.user {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 5px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo {
    word-wrap: break-word;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

i {
    color: rgb(180, 168, 168) !important;
    font-weight: lighter;
    font-size: 10px;
}

.menu {
    color: rgb(149, 147, 147);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu:active, .menu:hover, .menu:focus {
    border: none;
}
