<div class="comentario">
    <div class="user">
        <span>{{ comentario.autorNome }} <i>{{ comentario.dataComentario | date:'MMM dd h:mm a':'':'pt' }}</i></span>
        <button *ngIf="user.id == comentario.autorId" class="menu" mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="faEllipsis"></fa-icon></button>
        <mat-menu #menu="matMenu">
            <button (click)="deletar()" class="btn-item" mat-menu-item>Excluir</button>
          </mat-menu>
    </div>
    <div class="conteudo">
        <p>{{ comentario.conteudo }}</p>
    </div>
</div>
