.modal-wrapper {
    width: 100%;
    height: 100%;
    color: white;
}

.modal-content {
    padding: 10px 5px;
}

.modal-title {
    text-align: center;
}

fa-icon {
    color: var(--error-color);
    font-size: 3rem;
}

li::marker {
    color: var(--error-color);
  }

button {
    width: 100%;
    height: 50px;
    background-color: var(--error-color);
    border: none;
    color: white;
    transition: 400ms;
}

button:hover {
    background-color: rgb(218, 63, 63);
}