main {
    min-height: calc(100vh - 60px) !important;
    width: 100%;
    margin-top: 60px;
    padding-left: 60px;
    transition: ease-in-out 400ms;
}

main.aside-collapped {
    padding-left: 220px;
}

.main-wrapper {
    min-height: calc(100vh - 60px) !important;
    padding: 15px;
}