main {
    height: 100vh;
    width: 100%;
    padding-left: 60px;
    transition: ease-in-out 400ms;
    display: flex;
    flex-direction: column;
}

main.aside-collapped {
    padding-left: 220px;
}

.main-wrapper {
    height: 100vh;
    padding: 15px;
}
