.tarefas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.example-container {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 400px;
    background-color: gainsboro;
    padding: 5px;
}

.example-box {
    width: 100%;
    min-height: 60px;
    line-break: normal;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* LEMBRAR DE REMOVER */
    word-wrap: break-word;
}