.tarefas-wrapper {
    position: relative;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.tarefas {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.arrows {
    top: 50%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.237);
    cursor: pointer;
    padding: 0 20px;
    background-color: black;
}

.arrow-right-wrapper, .arrow-left-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    z-index: 100;
    color: rgba(255, 255, 255, 0.316);
}

.arrow-right-wrapper {
    right: 0;
}

.arrow-left-wrapper {
    left: 0;
}

fa-icon {
    font-size: 3rem;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}

h3 {
    text-align: start;
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.example-container {
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    min-height: 75vh;
    padding-right: 3px;
    overflow-y: scroll;
    gap: 6px;
}

.example-box {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}