<div class="tarefas-wrapper">
  <div #tarefas class="tarefas" cdkDropListGroup>
    <div [ngStyle]="{'display': scrollAtivo ? 'flex' : 'none'}" (mouseenter)="startScrolling('right')" (mouseleave)="stopScrolling()" class="arrow-left-wrapper">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>
    <div [ngStyle]="{'display': scrollAtivo ? 'flex' : 'none'}" (mouseenter)="startScrolling('left')" (mouseleave)="stopScrolling()" class="arrow-right-wrapper">
      <fa-icon  [icon]="faArrowRight"></fa-icon>
    </div>
    <div class="example-container">
      <h3>Pendente</h3>
      <div cdkDropList id="pendente" [cdkDropListData]="colunas.pendente" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of colunas.pendente" class="example-box" cdkDrag>
          <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h3>Fazendo</h3>
      <div cdkDropList id="fazendo" [cdkDropListData]="colunas.fazendo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of colunas.fazendo" class="example-box" cdkDrag>
          <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h3>Retorno</h3>
      <div cdkDropList id="retorno" [cdkDropListData]="colunas.retorno" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of colunas.retorno" class="example-box" cdkDrag>
          <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h3>Análise</h3>
      <div cdkDropList id="analise" [cdkDropListData]="colunas.analise" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of colunas.analise" class="example-box" cdkDrag>
          <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h3>Concluída</h3>
      <div cdkDropList id="concluida" [cdkDropListData]="colunas.concluida" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of colunas.concluida" class="example-box" cdkDrag>
          <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
        </div>
      </div>
    </div>
  </div>
</div>

