<div class="tarefas" cdkDropListGroup>
  <div class="example-container">
    <h2>Pendente</h2>
    <div cdkDropList id="0" [cdkDropListData]="pendente" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of pendente" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Fazendo</h2>
    <div cdkDropList id="1" [cdkDropListData]="fazendo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of fazendo" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Análise</h2>
    <div cdkDropList id="2" [cdkDropListData]="analise" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of analise" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Concluída</h2>
    <div cdkDropList id="3" [cdkDropListData]="concluida" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of concluida" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>
</div>

<!-- <app-tarefas-edition></app-tarefas-edition> -->