<div #tarefas class="tarefas" cdkDropListGroup>
  <div class="arrows">
    <fa-icon (mouseenter)="startScrolling('right')" (mouseleave)="stopScrolling()" [icon]="faArrowLeft"></fa-icon>
    <fa-icon (mouseenter)="startScrolling('left')" (mouseleave)="stopScrolling()" [icon]="faArrowRight"></fa-icon>
  </div>
  <div class="example-container">
    <h3>Pendente</h3>
    <div cdkDropList id="0" [cdkDropListData]="pendente" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of pendente" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Fazendo</h3>
    <div cdkDropList id="1" [cdkDropListData]="fazendo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of fazendo" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Retorno</h3>
    <div cdkDropList id="2" [cdkDropListData]="retorno" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of retorno" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div *ngIf="user?.tipo == 2" class="example-container">
    <h3>Análise</h3>
    <div cdkDropList id="2" [cdkDropListData]="analise" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of analise" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Concluída</h3>
    <div cdkDropList id="3" [cdkDropListData]="concluida" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of concluida" class="example-box" cdkDrag>
        <app-tarefas-view-card [tarefa]="item"></app-tarefas-view-card>
      </div>
    </div>
  </div>
</div>

