<h2 mat-dialog-title class="title light">{{ tarefa.titulo }}</h2>
<mat-dialog-content>
    <hr>
    <div class="descricao">
        {{ tarefa.descricao }}
    </div>
    <div class="comentarios">
        <p (click)="openComentarios()" class="comentarios-handler">Comentarios <span class="comment-count">{{ tarefa.comentarios.length }}</span></p>
        <div *ngIf="comentariosIsOpen" class="comentarios-wrapper">
            <app-comentario *ngFor="let comentario of tarefa.comentarios" [comentario]="comentario"></app-comentario>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions style="display: block; padding: 10px 20px;">
    <app-comment-box (comentarioEmitter)="comentar($event)" (cancelarEmitter)="cancelar()"></app-comment-box>
</mat-dialog-actions>
