.sidenav {
    width: max-content;
    height: calc(100vh - 60px);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--dark-bd-color);
    padding: 5px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}

.sidenav-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidenav-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 400ms;
}

.icone {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--light-color);
}

.icone img {
    width: 80%;
    -webkit-filter: drop-shadow(.5px .5px 1px var(--primary-color));
    filter: drop-shadow(.5px .5px 1px var(--primary-color));
}

.sidenav-link-text {
    width: 0;
    overflow: hidden;
    transition: ease-in-out 400ms;
    color: var(--light-color);
    font-weight: 500;
}

.sidenav-link-text.collapesed {
    width: 150px;
    margin-left: 10px;
}

.sidenav-nav-item {
    padding: 1px;
    margin: 2px 0;
    border-radius: 5px;
    transition: ease-in-out 400ms;
}

.sidenav-nav-item:hover {
    background-color: var(--primary-color);
}



/* .sidenav-link-text {
} */