.sidenav {
    width: max-content;
    height: calc(100vh - 60px);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--dark-bd-color);
    padding: 5px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}

.sidenav-nav {
    list-style: none;
    padding-left: 0;
}

.sidenav-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 400ms;
}

.icone {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sidenav-link-text {
    width: 0;
    overflow: hidden;
    transition: ease-in-out 400ms;
}

.sidenav-link-text.collapesed {
    width: 150px;
    margin-left: 10px;
}

.sidenav-nav-item {
    padding: 1px;
    margin: 2px 0;
    border-radius: 10px;
    transition: ease-in-out 400ms;
}

.sidenav-nav-item:hover {
    background-color: antiquewhite;
}

.sidenav-nav-item:hover > .sidenav-nav-link > .sidenav-link-text {
    color: var(--dark-bd-color);
}

.sidenav-nav-item:hover > .sidenav-nav-link {
    color: var(--dark-bd-color);
}

/* .sidenav-link-text {
} */