<aside class="sidenav">
    <button (click)="asideHandler()" class="menu-handler">{{ isCollapesed ? '<' : '>' }}</button>
    <ul class="sidenav-nav">
        <li class="user">
            <div class="icone">
                <img src="../../assets/imagens/icones/badge.png" alt="">
            </div>
            <div class="usuario-name">
                <span class="sidenav-link-text name" [ngClass]="isCollapesed ? 'collapesed' : ''">{{ user.name }}</span>
                <span class="sidenav-link-text patente" [ngClass]="isCollapesed ? 'collapesed' : ''">{{ user.rank.nome }}</span>
            </div>
        </li>

        <h3 class="sidenav-nav-title" [ngClass]="isCollapesed ? 'collapesed' : ''">Geral</h3>
        <li class="sidenav-nav-item">
            <a [routerLink]="['/gerenciador/home']" class="sidenav-nav-link">
                <div class="icone">
                    <img [ngClass]="selectedMenu == 'home' ? 'selected-menu-item' : ''" src="../../assets/imagens/icones/home.png" alt="">
                </div>
                <span class="sidenav-link-text" [ngClass]="isCollapesed ? 'collapesed' : ''">Home</span>
            </a>
        </li>

        <li *ngIf="user.tipo == 1" class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/gerenciador/alunos']">
                <div class="icone">
                    <img [ngClass]="selectedMenu == 'alunos' ? 'selected-menu-item' : ''" src="../../assets/imagens/icones/avatar.png" alt="">
                </div>
                <span class="sidenav-link-text" [ngClass]="isCollapesed ? 'collapesed' : ''">Alunos</span>
            </a>
        </li>

        <h3 class="sidenav-nav-title" [ngClass]="isCollapesed ? 'collapesed' : ''">Projetos</h3>
        <li *ngFor="let projeto of projetos" class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="['/gerenciador/projeto/' + projeto.id]">
                <div class="icone">
                    <img [ngClass]="selectedMenu == 'projeto'+projeto.id ? 'selected-menu-item' : ''" src="../../assets/imagens/icones/project.png" alt="">
                </div>
                <span class="sidenav-link-text text-truncate" [ngClass]="isCollapesed ? 'collapesed' : ''">{{ projeto.titulo }}</span>
            </a>
        </li>

        <button *ngIf="user.tipo == 1" (click)="addProject()" class="add-project"><fa-icon [icon]="faPlus"></fa-icon></button>
        <hr>
        <li (click)="logout()" class="sidenav-nav-item exit-item">
            <a class="sidenav-nav-link">
                <div class="icone">
                    <img src="../../assets/imagens/icones/exit.png"  alt="">
                </div>
                <span class="sidenav-link-text" [ngClass]="isCollapesed ? 'collapesed' : ''">Sair</span>
            </a>
        </li>

    </ul>
    
</aside>
