.sidenav {
    width: max-content;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--dark-bd-color);
    padding: 5px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}

.sidenav-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidenav-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 400ms;
}

.icone {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--light-color);
}

.icone img {
    width: 80%;
    -webkit-filter: drop-shadow(.5px .5px .5px var(--light-color));
    filter: drop-shadow(.5px .5px .5px var(--light-color));
}

.sidenav-link-text {
    width: 0;
    overflow: hidden;
    transition: ease-in-out 400ms;
    color: var(--light-color);
    font-size: 13px;
}

.sidenav-link-text.collapesed {
    width: 150px;
    margin-left: 10px;
}

.sidenav-nav-item {
    padding: 1px;
    margin: 2px 0;
    border-radius: 5px;
    transition: ease-in-out 200ms;
    position: relative;
}

.selected-menu-item {
    -webkit-filter: drop-shadow(2px 2px 5px var(--primary-color)) !important;
    filter: drop-shadow(2px 2px 5px var(--primary-color)) !important;
}

.sidenav-nav-item:hover {
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.exit-item {
    -webkit-filter: none !important;
    filter: none !important;
}



/* .sidenav-link-text {
} */