:root {
  --primary-color: #7230e4;
  --primary-light-color: #b18eee;
  --secondary-color: #00d062;
  --dark-bd-color: #212121;
  --light-dark-bd-color: #282A36;
  --light-color: #FBF9F1;
  --error-color: #ED4337;

}

* {
  font-family: 'Roboto', sans-serif;
}

html,

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--light-dark-bd-color);
  color: var(--light-color);
}



.mat-snack-bar-container {
  max-width: 800px;
  height: 300px !important;
  text-wrap: wrap;
}

.success-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--error-color);
  --mat-mdc-snack-bar-button-color: #fff;
}

.title {
  font-size: 25px !important;
}

.title::after{
  display: block;
  content: '';
  height: 2px;
  width: 100px;
  background-color: var(--primary-color);
  margin-top: 5px;
  margin-bottom: 10px;
}
