.aluno-container {
    position: relative;
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

.aluno-container-nav {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

fa-icon {
    font-size: 20px;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100000;
}

.nav-itens a {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}