<div class="aluno-container">
    <div class="aluno-container-nav">
        <ul class="nav">
            <li class="nav-itens">
                <button (click)="viewSection = 0">Home</button>
            </li>
            <li class="nav-itens">
                <button (click)="viewSection = 1">Board</button>
            </li>
            <li class="nav-itens">
                <fa-icon (click)="openTarefaEdition()" matTooltip="Nova tarefa" [icon]="faPlus"></fa-icon>
            </li>
        </ul>
    </div>
    <app-tarefas-view *ngIf="viewSection == 1" [isPrincipal]="true" [idAluno]="alunoId"></app-tarefas-view>
</div>
