<div class="aluno-container">

    <div class="aluno-container-nav">
        <ul class="nav">
            <li [ngClass]="viewSection == 0 ? 'selected-nav-item' : ''" class="nav-itens">
                <a (click)="viewSection = 0">Home</a>
            </li>
            <li class="nav-itens" [ngClass]="viewSection == 1 ? 'selected-nav-item' : ''">
                <a (click)="viewSection = 1">Board</a>
            </li>
            <li class="nav-itens">
                <fa-icon (click)="openTarefaEdition()" matTooltip="Nova tarefa" [icon]="faPlus"></fa-icon>
            </li>
        </ul>
        <div class="aluno-info">
            {{ aluno.name }}
        </div>
    </div>
    <hr>

    <app-tarefas-view *ngIf="viewSection == 1" [isPrincipal]="true" [idAluno]="alunoId"></app-tarefas-view>

</div>
