.form-group {
    margin-top: 10px !important;
    color: white;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

small {
    display: none;
}

.error-small {
    display: block !important;
    color: var(--error-color) !important;
    opacity: .7;
}

input.ng-invalid.ng-touched.error {
    border-color: var(--error-color);
}

textarea.ng-invalid.ng-touched.error {
    border-color: var(--error-color);
}

