<mat-dialog-content>
    <h2 class="title light">Nova tarefa</h2>
    <form [formGroup]="form">
        <div class="form-group">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input [ngClass]="error ? 'error' : ''" type="text" maxlength="50" class="form-control" formControlName="titulo" id="titulo">
                <small [ngClass]="!form.get('titulo')?.valid && form.get('titulo')?.touched && error  ? 'error-small': ''">Título é obrigatório.</small>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea [ngClass]="error ? 'error' : ''" maxlength="255" type="text" class="form-control" formControlName="descricao" id="descricao"></textarea>
                <small class="text-muted" [ngClass]="!form.get('descricao')?.valid && form.get('descricao')?.touched && error  ? 'error-small': ''">Descrição da tarefa é obrigatória.</small>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="dataFinal">Data de entrega</label>
                        <input type="date" class="form-control" formControlName="dataFinal" id="dataFinal">
                    </div>
                </div>
            </div>
            <div class="dificuldade">
                <div class="label-icons">
                    <label for="dificuldade">Dificuldade</label>
                    <div class="icons">
                        <fa-icon *ngFor="let item of dificuldade" [icon]="faStar"></fa-icon>
                    </div>
                </div>
                <mat-slider  min="0" max="3" step="1" showTickMarks discrete [displayWith]="formatLabel">
                    <input (valueChange)="dificuldadeChange($event)" formControlName="dificuldade" matSliderThumb>
                  </mat-slider>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="display: block; padding: 10px 20px;">
    <div class="actions">
        <app-custom-button (click)="resetForm()" [texto]="'Sair'" [mat-dialog-close] [class]="'btn btn-danger'" [processing]="processing"></app-custom-button>
        <app-custom-button (click)="salvarTarefa()" [texto]="'Criar'" [class]="'btn btn-primary'" [processing]="processing"></app-custom-button>
    </div>
</mat-dialog-actions>
