.form-group {
    margin-top: 10px !important;
    color: white;
}

.mat-dialog-content {
    height: 100vh !important;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

form {
    padding: 10px;
}

small {
    display: none;
}

.error-small {
    display: block !important;
    color: var(--error-color) !important;
    opacity: .7;
}

input.ng-invalid.ng-touched.error {
    border-color: var(--error-color);
}

textarea.ng-invalid.ng-touched.error {
    border-color: var(--error-color);
}

.dificuldade {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-icons {
    display: flex;
    gap: 10px;
}

.icons {
    color: var(--secondary-color);
    display: flex;
    gap: 5px;
}

